.header__description {
  a {
    transition: all 0.4s ease-in-out;
    font-size: 2.8rem;
    color: #fff;
    background-color: #263238;
    border: 1px solid #263238;
    border-radius: 1rem;
    width: 50%;
    padding: 1rem;
    text-align: center;
    &:hover {
      background-color: #fff;
      color: #263238;
      transform: translateX(4rem);
    }
  }
}
.btn {
  background-color: #263238;
  width: 15rem;
  padding: 1.2rem;
  text-align: center;
  border: 1px solid #263238;
  transition: all 0.6s ease-in-out;
  a {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
  }
  &:hover {
    a {
      color: #263238;
    }
    background-color: #fff;
  }
}
